@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  justify-content: center;

  background-color: darkgrey;
}

.header {
  width: 100vw;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 9);
}

form {
  margin-top: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
